* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', serif;
}

button {
  padding: 20px 27px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

/* stile per quando si clicca il bottone */
button:focus {
  outline-color: #FE775A;
}

h2 {
  font-size: 30px;
  font-weight: 900;
}

p {
  line-height: 25px;
  margin-top: 29px;
}

.blue, .blue a {
  color: #33475B
}

.btn-full-orange {
  background-color: #FE775A;
  color: #FAFCFE;
  font-family: inherit;
  font-weight: inherit;
  border: 1px solid #FE775A;
}

.btn-full-orange:focus {
  background-color: #FAFCFE;
  color: #FE775A;
  font-family: inherit;
  font-weight: 900;
  border: 1px solid #FE775A;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 10%;
}

.fa-check-circle {
  color: #FE775A;
  padding-right: 8px;
}

.list li {
  display: inline-block;
  list-style: none;
}

.list a {
  text-decoration: none;
}

.small {
  font-size: 13px
}

.shadow {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

/* header */
/* header-top */
.header-top {
  height: 70px;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
  font-size: 15px;
  font-weight: 500
}

.header-top .list li {
  line-height: 70px
}

/* .header-top-left */
.header-top-left {
  width: 30%;
  float: left;
}

.header-top-left .list ul:first-child {
  margin-right: 20px
}

/******
 Non riesco a dare il bordo dopo english
*******/
/* .header-top-right */
.header-top-right {
  width: 30%;
  float: right;
  text-align: right;
}

.header-top-right .list:first-child {
  color: #00A5BE
}

.header-top-right .list li {
  padding-right: 15px;
}

.header-top-right li button {
  padding: 10px;
}

.btn-half-orange {
  background-color: #FAFCFE;
  border: 1px solid #FE775A;
  color: #FE775A;
  font-family: inherit;
  font-weight: inherit;
}

/* *** */
/* header-center */
.header-center {
  background-color: #FFFFFF;
  height: 70px;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}

.header-center-left .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header-center .list li {
  line-height: 70px;
}

.header-center-right>ul.list>li {
  margin-right: 10px
}

.header-center-left {
  width: 15%;
  float: left;
}

.header-center .logo {
  line-height: 70px;
}

.header-center-right {
  width: 50%;
  float: right;
  text-align: right;
}

/* *** */
/* header-bottom */
/* immagine di background */
.header-bottom {
  position: relative;
  background-color: #FFF2EE;
  height: 600px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 50%;
  padding-bottom: 700px;
}

.header-bottom .text-container {
  width: 45%;
  padding-top: 80px;
}

.header-bottom .text-container h1 {
  font-size: 40px;
  font-weight: 900;
}

.header-bottom .text-container button {
  margin-top: 30px;
}

/* *** */
/* header-bottom-big-div */
.header-bottom-big-div {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

/* *** */
/* *** */
/* main */
/* main-top */
.main-top {
  background-color: #F4F9FD;
}

/* *** */
/* top-row1 */
.top-row1 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.top-row1 img {
  width: 32%
}

/* *** */
/* top-row2 */
.top-row2 {
  background-color: #FFFFFF;
  height: 340px;
}

.top-row2-cont {
  padding: 70px 5%;
}

.top-row2-left {
  width: 30%;
  float: left;
  text-align: center;
}

.top-row2-left img {
  width: 60%;
  padding-bottom: 10px;
}

.top-row2-right {
  width: 60%;
  float: left;
  margin-left: 20px;
}

.top-row2-right .box {
  margin-top: 25px;
}

.top-row2-right .box h4, .top-row2-right .box hr {
  display: inline-block;
}

.top-row2-right .box h4 {
  margin-right: 20px;
}

.top-row2-right .box hr {
  width: 60%;
  height: 2px;
}

.top-row2-right .children li:last-child {
  padding-right: 25px;
}

/* *** */
/* top-row3 */
.top-row3 {
  margin-top: 50px;
  padding-bottom: 50px;
}

.top-row3 img {
  height: 120px;
  margin-bottom: 10px;
}

.top-row3 .list {
  text-align: left;
}

.top-row3>div>p {
  margin-bottom: 55px;
}

.top-row3>div>hr {
  margin-bottom: 40px;
}

.top-row3>div>h4 {
  margin-bottom: 35px;
}

.top-row3>div>ul.list {
  margin-bottom: 45px;
}

.top-row3 .list li {
  float: left;
}

.top-row3 .list .children p {
  display: inline;
}

.row3-left, .row3-center, .row3-right {
  background-color: #FFFFFF;
  float: left;
  width: 30%;
  text-align: center;
  padding: 20px 35px;
}

.row3-center {
  margin: 0 calc(10%/2);
}

/* *** */
/* *** */
/* main-center */
.main-center {
  background-color: #00ADB5;
  color: white;
  text-align: center;
}

.center-top {}

.center-top h2 {
  padding-top: 50px;
}

.center-bottom {
  padding: 50px 0;
}

.center-bottom>div {
  float: left;
  width: calc(100% / 4);
}

.center-bottom .big-number {
  font-weight: 700;
  font-size: 35px;
}

.center-bottom .up {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.center-bottom .down {
  border-right: 1px solid white;
}

.center-bottom div:nth-child(4n+0) {
  border-right: none;
}

.center-bottom img {
  height: 50px;
  padding-top: 20px;
}

.center-bottom i {
  font-size: 14px;
  vertical-align: middle;
  margin-left: 4px;
}

.center-bottom .small {
  padding-bottom: 20px;
}

/* *** */
/* main-bottom */
.main-bottom {
  background-color: white;
  border: 2px solid red;
}

.main-bottom .row1 {
  border: 2px solid blue;
}

.main-bottom .row1 .col1 {
  float: left;
  width: 30%;
}

.main-bottom .row1 .big-big-number {
  font-size: 50px;
  font-weight: 900px;
}

.main-bottom .row1 .col2 {
  float: left;
  width: 70%;
}

.main-bottom .row1 .col2 div {
  float: left;
  width: calc(100% / 4);
}

.main-bottom .row1 .col2 img {
  height: 20%;
}

/* *** */
.main-bottom .row2 {
  margin-top: 25px;
  background-color: pink;
  border: 2px solid green;
}

.main-bottom .row2 .col1 {
  float: left;
  width: 50%;
}

.main-bottom .row2 .col1 button {
  margin-top: 40px;
}

.main-bottom .row2 .col2 {
  float: right;
  width: 50%;
  text-align: right;
}

.main-bottom .row2 .col2 img {
  height: 300px;
}