* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', serif;
}

button {
  padding: 20px 27px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

/* stile per quando si clicca il bottone */
button:focus {
  outline-color: #FE775A;
}

h2 {
  font-size: 30px;
  font-weight: 900;
}

hr {
  border: 1px solid grey;
}

p {
  line-height: 25px;
  margin-top: 29px;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

ul li a {
  color: inherit;
  text-decoration: none;
}

.blue, .blue a {
  color: #33475B
}

.btn-full-orange {
  background-color: #FE775A;
  color: #FAFCFE;
  font-family: inherit;
  font-weight: inherit;
  border: 1px solid #FE775A;
}

.btn-full-orange:focus {
  background-color: #FAFCFE;
  color: #FE775A;
  font-family: inherit;
  font-weight: 700;
  border: 1px solid #FE775A;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 10%;
}

.fa-check-circle {
  color: #FE775A;
  padding-right: 8px;
}

.fa-chevron-down {
  vertical-align: middle;
}

.small {
  font-size: 13px
}

.shadow {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

/* header */
/* header-top */
.header-top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
  font-size: 15px;
  font-weight: 500
}

.header-top ul li {
  line-height: 70px
}

/* .header-top-left */
.header-top-left {
  width: 30%;
  float: left;
}

.header-top-left .lang-select {
  position: relative;
  margin-right: 20px
}

/* dropdown menu */
.header-top-left .drop-menu {
  position: absolute;
  display: none;
  background-color: white;
  z-index: 1;
  top: 57px;
  left: 28px;
}

.header-top-left ul li.lang-select #drop-menu>li {
  list-style: none;
  display: block;
  line-height: 15px;
  padding: 12px 25px;
}

.header-top-left ul li.lang-select #drop-menu>li:hover {
  background-color: #F4F9FD
}

.header-top-left .drop-menu a {
  text-decoration: none;
}

.header-top-left .fa-chevron-down:hover {
  cursor: pointer;
}

.header-top-left .lang-select:hover .drop-menu {
  display: block;
}

/******
 Non riesco a dare il bordo dopo english
*******/
/* .header-top-right */
.header-top-right {
  width: 30%;
  float: right;
  text-align: right;
}

.header-top-right ul li:first-child {
  color: #00A5BE
}

.header-top-right li {
  padding-right: 15px;
}

.header-top-right li button {
  padding: 10px;
}

.btn-half-orange {
  background-color: #FAFCFE;
  border: 1px solid #FE775A;
  color: #FE775A;
  font-family: inherit;
  font-weight: inherit;
}

/* *** */
/* header-center */
.header-center {
  position: relative;
  margin-top: 70px;
  background-color: #FFFFFF;
  height: 70px;
  font-size: 15px;
  font-weight: 500;
}

.header-center-left .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header-center li {
  line-height: 70px;
}

.header-center-left {
  width: 15%;
  float: left;
}

.header-center .logo {
  line-height: 70px;
}

.header-center-right {
  width: 50%;
  float: right;
  text-align: right;
}

.header-center-right>ul>li {
  margin-right: 10px
}

/* *** */
/* header-bottom */
/* immagine di background */
.header-bottom {
  position: relative;
  height: 600px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 678px;
}

.header-bottom .text-container {
  width: 45%;
  padding-top: 80px;
}

.header-bottom .text-container h1 {
  font-size: 40px;
  font-weight: 900;
}

.header-bottom .text-container button {
  margin-top: 30px;
}

/* *** */
/* header-bottom-big-div */
.header-bottom-big-div {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

/* *** */
/* *** */
/* main */
/* main-top */
.main-top {
  background-color: #F4F9FD;
}

/* *** */
/* top-row1 */
.top-row1 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.top-row1 img {
  width: 32%
}

/* *** */
/* top-row2 */
.top-row2 {
  background-color: #FFFFFF;
  padding: 60px 0;
}

.top-row2-cont {
  padding: 70px 5%;
}

.top-row2-left {
  width: 30%;
  float: left;
}

.top-row2-left img {
  display: block;
  height: 120px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.top-row2-left button {
  margin: 0 auto;
  display: block;
}

.top-row2-right {
  width: 60%;
  float: left;
  padding-left: 20px;
}

.top-row2-right .box {
  margin: 25px 0;
}

.top-row2-right .box h4, .top-row2-right .box hr {
  display: inline-block;
}

.top-row2-right .box h4 {
  margin-right: 20px;
}

.top-row2-right .box hr {
  width: 60%;
}

.top-row2-right ul>li {
  padding-right: 25px;
}

/* *** */
/* top-row3 */
.top-row3 {
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: left;
}

.top-row3 img {
  height: 120px;
  margin-bottom: 10px;
}

.top-row3>div>p {
  margin-bottom: 55px;
  min-height: 125px;
}

.top-row3>div>hr {
  margin-bottom: 40px;
}

.top-row3>div>h4 {
  margin-bottom: 35px;
}

.top-row3>div>ul {
  margin-bottom: 45px;
  text-align: left;
}

.top-row3>div>ul li {
  display: block;
}

.row3-left, .row3-center, .row3-right {
  background-color: #FFFFFF;
  float: left;
  width: 30%;
  text-align: center;
  padding: 20px 35px;
}

.row3-center {
  margin: 0 calc(10%/2);
}

/* *** */
/* *** */
/* main-center */
.main-center {
  background-color: #00ADB5;
  color: white;
  text-align: center;
}

.center-top {}

.center-top h2 {
  padding-top: 50px;
}

.center-bottom {
  padding: 50px 0;
}

.center-bottom>div {
  float: left;
  width: calc(100% / 4);
}

.center-bottom .big-number {
  font-weight: 700;
  font-size: 35px;
}

.center-bottom .up {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.center-bottom .down {
  border-right: 1px solid white;
}

.center-bottom div:nth-child(4n+0) {
  border-right: none;
}

.center-bottom img {
  height: 50px;
  padding-top: 20px;
}

.center-bottom i {
  font-size: 14px;
  vertical-align: middle;
  margin-left: 4px;
}

.center-bottom .small {
  padding-bottom: 20px;
}

/* *** */
/* main-bottom */
.main-bottom {
  background-color: white;
  padding: 50px 0;
}

.main-bottom .row1 {
  padding: 0 90px;
}

.main-bottom .row1 .col1 {
  float: left;
  width: 20%;
  margin-right: 10%;
}

.main-bottom .row1 .big-big-number {
  font-size: 50px;
  font-weight: 900;
}

.main-bottom .row1 .col2 {
  float: left;
  width: 70%;
}

.main-bottom .row1 .col2 div {
  float: left;
  width: calc(100% / 4);
}

.col2 ul li {
  width: 25%;
  height: 100px;
  float: left;
  position: relative;
}

.main-bottom .row1 .col2 img {
  width: 60%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* *** */
.main-bottom .row2 {
  margin-top: 35px;
}

.main-bottom .row2 .col1 {
  float: left;
  width: 50%;
}

.main-bottom .row2 .col1 button {
  margin-top: 40px;
}

.main-bottom .row2 .col2 {
  float: right;
  width: 50%;
  text-align: right;
}

.main-bottom .row2 .col2 img {
  height: 300px;
}

/* *** */
/* footer */
footer {
  background-color: #32495B;
  color: #CBD6E2;
  padding-bottom: 20px;
}

footer a:hover {
  color: #7fd1de
}

.footer-top {
  padding-top: 50px;
}

.footer-top .col {
  float: left;
  width: 25%;
}

.footer-top .col li {
  display: block;
  padding-bottom: 20px;
}

.footer-top .col li:first-child {
  font-size: 17px;
  padding-bottom: 30px;
  color: white
}

.footer-top .col li a {
  display: block;
}

.footer-top .col li.social-icon a {
  display: inline-block;
}

.footer-top .col li i {
  padding-right: 20px;
}

.footer-top .btn-grey {
  background-color: #DADEE0;
  color: #32495B;
  font-family: inherit;
  font-weight: inherit;
  border: 1px solid #DADEE0;
  padding: 9px 16px;
}

.footer-top .btn-grey:focus {
  outline-color: #32495B;
  background-color: #32495B;
  color: #DADEE0;
  border: 1px solid #32495B;
}

/* *** */
/* footer-center */
.footer-center {
  margin-top: 80px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid #DADEE0
}

.footer-center li {
  padding: 0 20px;
}

/* *** */
/* footer-bottom */
.footer-bottom {
  padding-top: 40px;
}

.footer-bottom .col-left, .footer-bottom .col-right {
  float: left;
  width: 50%;
}

.footer-bottom .col-left p {
  line-height: normal;
  margin-top: 8px;
  color: white;
}

.footer-bottom .col-right {
  text-align: right;
}

.footer-bottom .col-right li:first-child {
  padding-right: 30px;
}